<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="con" type="log4net.Appender.ColoredConsoleAppender">
    <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" /> 
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%property{pid}|%thread|%-5level] %c: %message%newline" />
    </layout>
  </appender>

  <appender name="bigfile" type="log4net.Appender.FileAppender">
    <file type="log4net.Util.PatternString" value="log\%property{AppName}_log.txt" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%property{pid}|%thread|%-5level] %c: %message%newline" />
    </layout>
  </appender>

  <appender name="inproc" type="pGina.Shared.Logging.InProcAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread|%-5level] %c: %message%newline" />
    </layout>
  </appender>

  <appender name="debugview" type="log4net.Appender.OutputDebugStringAppender" >
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread|%-5level] %c: %message%newline" />
    </layout>
  </appender>
  
  <root>
    <level value="ALL" />
    <appender-ref ref="con" />
    <appender-ref ref="bigfile" />
    <appender-ref ref="inproc" />
    <appender-ref ref="debugview" />
  </root>
</log4net>